In [2]:
import pandas as pd
import clean
%load_ext autoreload
%autoreload 2

In [3]:
project_path = 'data/projects.csv'
outcomes_path = 'data/outcomes.csv'

In [4]:
all_projects = pd.read_csv(project_path)

In [12]:
all_projects[:10]

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,resource_type,poverty_level,grade_level,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,eligible_almost_home_match,date_posted
0,316ed8fb3b81402ff6ac8f721bb31192,42d43fa6f37314365d08692e08680973,c0e6ce89b244764085691a1b8e28cb81,6.362701e+10,36.576340,-119.608713,Selma,CA,93662.0,NaN,...,Books,highest poverty,Grades 6-8,30.0,555.81,653.89,32.0,f,f,2014-05-12
1,90de744e368a7e4883223ca49318ae30,864eb466462bf704bf7a16a585ef296a,d711e47810900c96f26a5d0be30c446d,4.837020e+11,32.911179,-96.723640,Dallas,TX,75243.0,urban,...,Books,highest poverty,Grades PreK-2,30.0,296.47,348.79,22.0,f,f,2014-05-12
2,32943bb1063267de6ed19fc0ceb4b9a7,37f85135259ece793213aca9d8765542,665c3613013ba0a66e3a2a26b89f1b68,4.103270e+11,45.166039,-122.414576,Colton,OR,97017.0,rural,...,Technology,high poverty,Grades PreK-2,30.0,430.89,506.93,17.0,f,f,2014-05-11
3,bb18f409abda2f264d5acda8cab577a9,2133fc46f951f1e7d60645b0f9e48a6c,4f12c3fa0c1cce823c7ba1df57e90ccb,3.600153e+11,40.641727,-73.965655,Brooklyn,NY,11226.0,urban,...,Books,highest poverty,Grades 3-5,30.0,576.07,677.73,12.0,f,f,2014-05-11
4,24761b686e18e5eace634607acbcc19f,867ff478a63f5457eaf41049536c47cd,10179fd362d7b8cf0e89baa1ca3025bb,6.227100e+10,34.043939,-118.288371,Los Angeles,CA,90006.0,urban,...,Other,highest poverty,Grades PreK-2,30.0,408.40,480.47,24.0,f,f,2014-05-11
5,eac7d156205f1333de3887d656f46611,ff064802c18e68db7ddb7ea0bf7732e8,929336e5a242d2e67f1a591196ba7701,4.018700e+10,33.298792,-111.827793,Chandler,AZ,85225.0,suburban,...,Technology,highest poverty,Grades 3-5,30.0,750.92,883.44,20.0,f,f,2014-05-11
6,5a3bfdf2e05781ccd0654dee0d51d1cd,085794a9e315b88cb7aec548831572f5,dc34b021fd177cfdb22f22055ca9d04f,1.006000e+10,32.838778,-85.517527,Lafayette,AL,36862.0,rural,...,Supplies,highest poverty,Grades PreK-2,30.0,2291.48,2695.86,320.0,f,f,2014-05-11
7,afda16eb54d8992db7bb42923b2a0c69,1d94a31c2dc38d51350eb26a4a2d892c,86fff7caa07e4f595a716d8a1960f09e,1.301290e+11,33.896013,-84.554213,Marietta,GA,30060.0,NaN,...,Books,highest poverty,Grades PreK-2,30.0,459.36,540.42,18.0,f,f,2014-05-11
8,2ab3efb23acc84017cd7896f62c2e889,5a497c425e05bb193564ef3ce2cbf3b6,ed170a147cd8ee2391b54b2f8b206160,2.612000e+11,42.422054,-83.209656,Detroit,MI,48235.0,urban,...,Technology,highest poverty,Grades PreK-2,30.0,325.39,382.81,25.0,f,f,2014-05-11
9,3118962680bb062323c3566197487315,eb0855cc6ea55d173ca8f8e4fd6a9e18,71b4dee33799c2111773bb4444766bf0,3.402640e+11,39.951767,-75.117188,Camden,NJ,8102.0,urban,...,Technology,highest poverty,Grades PreK-2,30.0,567.84,668.05,28.0,f,f,2014-05-11

In [5]:
all_projects['date_posted'] = pd.to_datetime(all_projects['date_posted'])

In [6]:
all_projects.iloc[0].date_posted > pd.to_datetime('2014-01-01')

True

In [7]:
projects11_12 = clean.between_timestamp(all_projects, 'date_posted', '2012-12-31', '2011-01-01')

In [8]:
projects11_12.date_posted.unique()

array(['2012-12-31T00:00:00.000000000', '2012-12-30T00:00:00.000000000',
       '2012-12-29T00:00:00.000000000', '2012-12-28T00:00:00.000000000',
       '2012-12-27T00:00:00.000000000', '2012-12-26T00:00:00.000000000',
       '2012-12-25T00:00:00.000000000', '2012-12-24T00:00:00.000000000',
       '2012-12-23T00:00:00.000000000', '2012-12-22T00:00:00.000000000',
       '2012-12-21T00:00:00.000000000', '2012-12-20T00:00:00.000000000',
       '2012-12-19T00:00:00.000000000', '2012-12-18T00:00:00.000000000',
       '2012-12-17T00:00:00.000000000', '2012-12-16T00:00:00.000000000',
       '2012-12-15T00:00:00.000000000', '2012-12-14T00:00:00.000000000',
       '2012-12-13T00:00:00.000000000', '2012-12-12T00:00:00.000000000',
       '2012-12-11T00:00:00.000000000', '2012-12-10T00:00:00.000000000',
       '2012-12-09T00:00:00.000000000', '2012-12-08T00:00:00.000000000',
       '2012-12-07T00:00:00.000000000', '2012-12-06T00:00:00.000000000',
       '2012-12-05T00:00:00.000000000', '2012-12-04T00:00:00.000000000',
       '2012-12-03T00:00:00.000000000', '2012-12-02T00:00:00.000000000',
       '2012-12-01T00:00:00.000000000', '2012-11-30T00:00:00.000000000',
       '2012-11-29T00:00:00.000000000', '2012-11-28T00:00:00.000000000',
       '2012-11-27T00:00:00.000000000', '2012-11-26T00:00:00.000000000',
       '2012-11-25T00:00:00.000000000', '2012-11-24T00:00:00.000000000',
       '2012-11-23T00:00:00.000000000', '2012-11-22T00:00:00.000000000',
       '2012-11-21T00:00:00.000000000', '2012-11-20T00:00:00.000000000',
       '2012-11-19T00:00:00.000000000', '2012-11-18T00:00:00.000000000',
       '2012-11-17T00:00:00.000000000', '2012-11-16T00:00:00.000000000',
       '2012-11-15T00:00:00.000000000', '2012-11-14T00:00:00.000000000',
       '2012-11-13T00:00:00.000000000', '2012-11-12T00:00:00.000000000',
       '2012-11-11T00:00:00.000000000', '2012-11-10T00:00:00.000000000',
       '2012-11-09T00:00:00.000000000', '2012-11-08T00:00:00.000000000',
       '2012-11-07T00:00:00.000000000', '2012-11-06T00:00:00.000000000',
       '2012-11-05T00:00:00.000000000', '2012-11-04T00:00:00.000000000',
       '2012-11-03T00:00:00.000000000', '2012-11-02T00:00:00.000000000',
       '2012-11-01T00:00:00.000000000', '2012-10-31T00:00:00.000000000',
       '2012-10-30T00:00:00.000000000', '2012-10-29T00:00:00.000000000',
       '2012-10-28T00:00:00.000000000', '2012-10-27T00:00:00.000000000',
       '2012-10-26T00:00:00.000000000', '2012-10-25T00:00:00.000000000',
       '2012-10-24T00:00:00.000000000', '2012-10-23T00:00:00.000000000',
       '2012-10-22T00:00:00.000000000', '2012-10-21T00:00:00.000000000',
       '2012-10-20T00:00:00.000000000', '2012-10-19T00:00:00.000000000',
       '2012-10-18T00:00:00.000000000', '2012-10-17T00:00:00.000000000',
       '2012-10-16T00:00:00.000000000', '2012-10-15T00:00:00.000000000',
       '2012-10-14T00:00:00.000000000', '2012-10-13T00:00:00.000000000',
       '2012-10-12T00:00:00.000000000', '2012-10-11T00:00:00.000000000',
       '2012-10-10T00:00:00.000000000', '2012-10-09T00:00:00.000000000',
       '2012-10-08T00:00:00.000000000', '2012-10-07T00:00:00.000000000',
       '2012-10-06T00:00:00.000000000', '2012-10-05T00:00:00.000000000',
       '2012-10-04T00:00:00.000000000', '2012-10-03T00:00:00.000000000',
       '2012-10-02T00:00:00.000000000', '2012-10-01T00:00:00.000000000',
       '2012-09-30T00:00:00.000000000', '2012-09-29T00:00:00.000000000',
       '2012-09-28T00:00:00.000000000', '2012-09-27T00:00:00.000000000',
       '2012-09-26T00:00:00.000000000', '2012-09-25T00:00:00.000000000',
       '2012-09-24T00:00:00.000000000', '2012-09-23T00:00:00.000000000',
       '2012-09-22T00:00:00.000000000', '2012-09-21T00:00:00.000000000',
       '2012-09-20T00:00:00.000000000', '2012-09-19T00:00:00.000000000',
       '2012-09-18T00:00:00.000000000', '2012-09-17T00:00:00.000000000',
       '2012-09-16T00:00:00.000000000', '2012-09-15T00:00:00.000000000',
       '2012-09-14T00:00:00.000000000', '2012-09-13T00:00:00.000000000',
       '2012-09-12T00:00:00.000000000', '2012-09-11T00:00:00.000000000',
       '2012-09-10T00:00:00.000000000', '2012-09-09T00:00:00.000000000',
       '2012-09-08T00:00:00.000000000', '2012-09-07T00:00:00.000000000',
       '2012-09-06T00:00:00.000000000', '2012-09-05T00:00:00.000000000',
       '2012-09-04T00:00:00.000000000', '2012-09-03T00:00:00.000000000',
       '2012-09-02T00:00:00.000000000', '2012-09-01T00:00:00.000000000',
       '2012-08-31T00:00:00.000000000', '2012-08-30T00:00:00.000000000',
       '2012-08-29T00:00:00.000000000', '2012-08-28T00:00:00.000000000',
       '2012-08-27T00:00:00.000000000', '2012-08-26T00:00:00.000000000',
       '2012-08-25T00:00:00.000000000', '2012-08-24T00:00:00.000000000',
       '2012-08-23T00:00:00.000000000', '2012-08-22T00:00:00.000000000',
       '2012-08-21T00:00:00.000000000', '2012-08-20T00:00:00.000000000',
       '2012-08-19T00:00:00.000000000', '2012-08-18T00:00:00.000000000',
       '2012-08-17T00:00:00.000000000', '2012-08-16T00:00:00.000000000',
       '2012-08-15T00:00:00.000000000', '2012-08-14T00:00:00.000000000',
       '2012-08-13T00:00:00.000000000', '2012-08-12T00:00:00.000000000',
       '2012-08-11T00:00:00.000000000', '2012-08-10T00:00:00.000000000',
       '2012-08-09T00:00:00.000000000', '2012-08-08T00:00:00.000000000',
       '2012-08-07T00:00:00.000000000', '2012-08-06T00:00:00.000000000',
       '2012-08-05T00:00:00.000000000', '2012-08-04T00:00:00.000000000',
       '2012-08-03T00:00:00.000000000', '2012-08-02T00:00:00.000000000',
       '2012-08-01T00:00:00.000000000', '2012-07-31T00:00:00.000000000',
       '2012-07-30T00:00:00.000000000', '2012-07-29T00:00:00.000000000',
       '2012-07-28T00:00:00.000000000', '2012-07-27T00:00:00.000000000',
       '2012-07-26T00:00:00.000000000', '2012-07-25T00:00:00.000000000',
       '2012-07-24T00:00:00.000000000', '2012-07-23T00:00:00.000000000',
       '2012-07-22T00:00:00.000000000', '2012-07-21T00:00:00.000000000',
       '2012-07-20T00:00:00.000000000', '2012-07-19T00:00:00.000000000',
       '2012-07-18T00:00:00.000000000', '2012-07-17T00:00:00.000000000',
       '2012-07-16T00:00:00.000000000', '2012-07-15T00:00:00.000000000',
       '2012-07-14T00:00:00.000000000', '2012-07-13T00:00:00.000000000',
       '2012-07-12T00:00:00.000000000', '2012-07-11T00:00:00.000000000',
       '2012-07-10T00:00:00.000000000', '2012-07-09T00:00:00.000000000',
       '2012-07-08T00:00:00.000000000', '2012-07-07T00:00:00.000000000',
       '2012-07-06T00:00:00.000000000', '2012-07-05T00:00:00.000000000',
       '2012-07-04T00:00:00.000000000', '2012-07-03T00:00:00.000000000',
       '2012-07-02T00:00:00.000000000', '2012-07-01T00:00:00.000000000',
       '2012-06-30T00:00:00.000000000', '2012-06-29T00:00:00.000000000',
       '2012-06-28T00:00:00.000000000', '2012-06-27T00:00:00.000000000',
       '2012-06-26T00:00:00.000000000', '2012-06-25T00:00:00.000000000',
       '2012-06-24T00:00:00.000000000', '2012-06-23T00:00:00.000000000',
       '2012-06-22T00:00:00.000000000', '2012-06-21T00:00:00.000000000',
       '2012-06-20T00:00:00.000000000', '2012-06-19T00:00:00.000000000',
       '2012-06-18T00:00:00.000000000', '2012-06-17T00:00:00.000000000',
       '2012-06-16T00:00:00.000000000', '2012-06-15T00:00:00.000000000',
       '2012-06-14T00:00:00.000000000', '2012-06-13T00:00:00.000000000',
       '2012-06-12T00:00:00.000000000', '2012-06-11T00:00:00.000000000',
       '2012-06-10T00:00:00.000000000', '2012-06-09T00:00:00.000000000',
       '2012-06-08T00:00:00.000000000', '2012-06-07T00:00:00.000000000',
       '2012-06-06T00:00:00.000000000', '2012-06-05T00:00:00.000000000',
       '2012-06-04T00:00:00.000000000', '2012-06-03T00:00:00.000000000',
       '2012-06-02T00:00:00.000000000', '2012-06-01T00:00:00.000000000',
       '2012-05-31T00:00:00.000000000', '2012-05-30T00:00:00.000000000',
       '2012-05-29T00:00:00.000000000', '2012-05-28T00:00:00.000000000',
       '2012-05-27T00:00:00.000000000', '2012-05-26T00:00:00.000000000',
       '2012-05-25T00:00:00.000000000', '2012-05-24T00:00:00.000000000',
       '2012-05-23T00:00:00.000000000', '2012-05-22T00:00:00.000000000',
       '2012-05-21T00:00:00.000000000', '2012-05-20T00:00:00.000000000',
       '2012-05-19T00:00:00.000000000', '2012-05-18T00:00:00.000000000',
       '2012-05-17T00:00:00.000000000', '2012-05-16T00:00:00.000000000',
       '2012-05-15T00:00:00.000000000', '2012-05-14T00:00:00.000000000',
       '2012-05-13T00:00:00.000000000', '2012-05-12T00:00:00.000000000',
       '2012-05-11T00:00:00.000000000', '2012-05-10T00:00:00.000000000',
       '2012-05-09T00:00:00.000000000', '2012-05-08T00:00:00.000000000',
       '2012-05-07T00:00:00.000000000', '2012-05-06T00:00:00.000000000',
       '2012-05-05T00:00:00.000000000', '2012-05-04T00:00:00.000000000',
       '2012-05-03T00:00:00.000000000', '2012-05-02T00:00:00.000000000',
       '2012-05-01T00:00:00.000000000', '2012-04-30T00:00:00.000000000',
       '2012-04-29T00:00:00.000000000', '2012-04-28T00:00:00.000000000',
       '2012-04-27T00:00:00.000000000', '2012-04-26T00:00:00.000000000',
       '2012-04-25T00:00:00.000000000', '2012-04-24T00:00:00.000000000',
       '2012-04-23T00:00:00.000000000', '2012-04-22T00:00:00.000000000',
       '2012-04-21T00:00:00.000000000', '2012-04-20T00:00:00.000000000',
       '2012-04-19T00:00:00.000000000', '2012-04-18T00:00:00.000000000',
       '2012-04-17T00:00:00.000000000', '2012-04-16T00:00:00.000000000',
       '2012-04-15T00:00:00.000000000', '2012-04-14T00:00:00.000000000',
       '2012-04-13T00:00:00.000000000', '2012-04-12T00:00:00.000000000',
       '2012-04-11T00:00:00.000000000', '2012-04-10T00:00:00.000000000',
       '2012-04-09T00:00:00.000000000', '2012-04-08T00:00:00.000000000',
       '2012-04-07T00:00:00.000000000', '2012-04-06T00:00:00.000000000',
       '2012-04-05T00:00:00.000000000', '2012-04-04T00:00:00.000000000',
       '2012-04-03T00:00:00.000000000', '2012-04-02T00:00:00.000000000',
       '2012-04-01T00:00:00.000000000', '2012-03-31T00:00:00.000000000',
       '2012-03-30T00:00:00.000000000', '2012-03-29T00:00:00.000000000',
       '2012-03-28T00:00:00.000000000', '2012-03-27T00:00:00.000000000',
       '2012-03-26T00:00:00.000000000', '2012-03-25T00:00:00.000000000',
       '2012-03-24T00:00:00.000000000', '2012-03-23T00:00:00.000000000',
       '2012-03-22T00:00:00.000000000', '2012-03-21T00:00:00.000000000',
       '2012-03-20T00:00:00.000000000', '2012-03-19T00:00:00.000000000',
       '2012-03-18T00:00:00.000000000', '2012-03-17T00:00:00.000000000',
       '2012-03-16T00:00:00.000000000', '2012-03-15T00:00:00.000000000',
       '2012-03-14T00:00:00.000000000', '2012-03-13T00:00:00.000000000',
       '2012-03-12T00:00:00.000000000', '2012-03-11T00:00:00.000000000',
       '2012-03-10T00:00:00.000000000', '2012-03-09T00:00:00.000000000',
       '2012-03-08T00:00:00.000000000', '2012-03-07T00:00:00.000000000',
       '2012-03-06T00:00:00.000000000', '2012-03-05T00:00:00.000000000',
       '2012-03-04T00:00:00.000000000', '2012-03-03T00:00:00.000000000',
       '2012-03-02T00:00:00.000000000', '2012-03-01T00:00:00.000000000',
       '2012-02-29T00:00:00.000000000', '2012-02-28T00:00:00.000000000',
       '2012-02-27T00:00:00.000000000', '2012-02-26T00:00:00.000000000',
       '2012-02-25T00:00:00.000000000', '2012-02-24T00:00:00.000000000',
       '2012-02-23T00:00:00.000000000', '2012-02-22T00:00:00.000000000',
       '2012-02-21T00:00:00.000000000', '2012-02-20T00:00:00.000000000',
       '2012-02-19T00:00:00.000000000', '2012-02-18T00:00:00.000000000',
       '2012-02-17T00:00:00.000000000', '2012-02-16T00:00:00.000000000',
       '2012-02-15T00:00:00.000000000', '2012-02-14T00:00:00.000000000',
       '2012-02-13T00:00:00.000000000', '2012-02-12T00:00:00.000000000',
       '2012-02-11T00:00:00.000000000', '2012-02-10T00:00:00.000000000',
       '2012-02-09T00:00:00.000000000', '2012-02-08T00:00:00.000000000',
       '2012-02-07T00:00:00.000000000', '2012-02-06T00:00:00.000000000',
       '2012-02-05T00:00:00.000000000', '2012-02-04T00:00:00.000000000',
       '2012-02-03T00:00:00.000000000', '2012-02-02T00:00:00.000000000',
       '2012-02-01T00:00:00.000000000', '2012-01-31T00:00:00.000000000',
       '2012-01-30T00:00:00.000000000', '2012-01-29T00:00:00.000000000',
       '2012-01-28T00:00:00.000000000', '2012-01-27T00:00:00.000000000',
       '2012-01-26T00:00:00.000000000', '2012-01-25T00:00:00.000000000',
       '2012-01-24T00:00:00.000000000', '2012-01-23T00:00:00.000000000',
       '2012-01-22T00:00:00.000000000', '2012-01-21T00:00:00.000000000',
       '2012-01-20T00:00:00.000000000', '2012-01-19T00:00:00.000000000',
       '2012-01-18T00:00:00.000000000', '2012-01-17T00:00:00.000000000',
       '2012-01-16T00:00:00.000000000', '2012-01-15T00:00:00.000000000',
       '2012-01-14T00:00:00.000000000', '2012-01-13T00:00:00.000000000',
       '2012-01-12T00:00:00.000000000', '2012-01-11T00:00:00.000000000',
       '2012-01-10T00:00:00.000000000', '2012-01-09T00:00:00.000000000',
       '2012-01-08T00:00:00.000000000', '2012-01-07T00:00:00.000000000',
       '2012-01-06T00:00:00.000000000', '2012-01-05T00:00:00.000000000',
       '2012-01-04T00:00:00.000000000', '2012-01-03T00:00:00.000000000',
       '2012-01-02T00:00:00.000000000', '2012-01-01T00:00:00.000000000',
       '2011-12-31T00:00:00.000000000', '2011-12-30T00:00:00.000000000',
       '2011-12-29T00:00:00.000000000', '2011-12-28T00:00:00.000000000',
       '2011-12-27T00:00:00.000000000', '2011-12-26T00:00:00.000000000',
       '2011-12-25T00:00:00.000000000', '2011-12-24T00:00:00.000000000',
       '2011-12-23T00:00:00.000000000', '2011-12-22T00:00:00.000000000',
       '2011-12-21T00:00:00.000000000', '2011-12-20T00:00:00.000000000',
       '2011-12-19T00:00:00.000000000', '2011-12-18T00:00:00.000000000',
       '2011-12-17T00:00:00.000000000', '2011-12-16T00:00:00.000000000',
       '2011-12-15T00:00:00.000000000', '2011-12-14T00:00:00.000000000',
       '2011-12-13T00:00:00.000000000', '2011-12-12T00:00:00.000000000',
       '2011-12-11T00:00:00.000000000', '2011-12-10T00:00:00.000000000',
       '2011-12-09T00:00:00.000000000', '2011-12-08T00:00:00.000000000',
       '2011-12-07T00:00:00.000000000', '2011-12-06T00:00:00.000000000',
       '2011-12-05T00:00:00.000000000', '2011-12-04T00:00:00.000000000',
       '2011-12-03T00:00:00.000000000', '2011-12-02T00:00:00.000000000',
       '2011-12-01T00:00:00.000000000', '2011-11-30T00:00:00.000000000',
       '2011-11-29T00:00:00.000000000', '2011-11-28T00:00:00.000000000',
       '2011-11-27T00:00:00.000000000', '2011-11-26T00:00:00.000000000',
       '2011-11-25T00:00:00.000000000', '2011-11-24T00:00:00.000000000',
       '2011-11-23T00:00:00.000000000', '2011-11-22T00:00:00.000000000',
       '2011-11-21T00:00:00.000000000', '2011-11-20T00:00:00.000000000',
       '2011-11-19T00:00:00.000000000', '2011-11-18T00:00:00.000000000',
       '2011-11-17T00:00:00.000000000', '2011-11-16T00:00:00.000000000',
       '2011-11-15T00:00:00.000000000', '2011-11-14T00:00:00.000000000',
       '2011-11-13T00:00:00.000000000', '2011-11-12T00:00:00.000000000',
       '2011-11-11T00:00:00.000000000', '2011-11-10T00:00:00.000000000',
       '2011-11-09T00:00:00.000000000', '2011-11-08T00:00:00.000000000',
       '2011-11-07T00:00:00.000000000', '2011-11-06T00:00:00.000000000',
       '2011-11-05T00:00:00.000000000', '2011-11-04T00:00:00.000000000',
       '2011-11-03T00:00:00.000000000', '2011-11-02T00:00:00.000000000',
       '2011-11-01T00:00:00.000000000', '2011-10-31T00:00:00.000000000',
       '2011-10-30T00:00:00.000000000', '2011-10-29T00:00:00.000000000',
       '2011-10-28T00:00:00.000000000', '2011-10-27T00:00:00.000000000',
       '2011-10-26T00:00:00.000000000', '2011-10-25T00:00:00.000000000',
       '2011-10-24T00:00:00.000000000', '2011-10-23T00:00:00.000000000',
       '2011-10-22T00:00:00.000000000', '2011-10-21T00:00:00.000000000',
       '2011-10-20T00:00:00.000000000', '2011-10-19T00:00:00.000000000',
       '2011-10-18T00:00:00.000000000', '2011-10-17T00:00:00.000000000',
       '2011-10-16T00:00:00.000000000', '2011-10-15T00:00:00.000000000',
       '2011-10-14T00:00:00.000000000', '2011-10-13T00:00:00.000000000',
       '2011-10-12T00:00:00.000000000', '2011-10-11T00:00:00.000000000',
       '2011-10-10T00:00:00.000000000', '2011-10-09T00:00:00.000000000',
       '2011-10-08T00:00:00.000000000', '2011-10-07T00:00:00.000000000',
       '2011-10-06T00:00:00.000000000', '2011-10-05T00:00:00.000000000',
       '2011-10-04T00:00:00.000000000', '2011-10-03T00:00:00.000000000',
       '2011-10-02T00:00:00.000000000', '2011-10-01T00:00:00.000000000',
       '2011-09-30T00:00:00.000000000', '2011-09-29T00:00:00.000000000',
       '2011-09-28T00:00:00.000000000', '2011-09-27T00:00:00.000000000',
       '2011-09-26T00:00:00.000000000', '2011-09-25T00:00:00.000000000',
       '2011-09-24T00:00:00.000000000', '2011-09-23T00:00:00.000000000',
       '2011-09-22T00:00:00.000000000', '2011-09-21T00:00:00.000000000',
       '2011-09-20T00:00:00.000000000', '2011-09-19T00:00:00.000000000',
       '2011-09-18T00:00:00.000000000', '2011-09-17T00:00:00.000000000',
       '2011-09-16T00:00:00.000000000', '2011-09-15T00:00:00.000000000',
       '2011-09-14T00:00:00.000000000', '2011-09-13T00:00:00.000000000',
       '2011-09-12T00:00:00.000000000', '2011-09-11T00:00:00.000000000',
       '2011-09-10T00:00:00.000000000', '2011-09-09T00:00:00.000000000',
       '2011-09-08T00:00:00.000000000', '2011-09-07T00:00:00.000000000',
       '2011-09-06T00:00:00.000000000', '2011-09-05T00:00:00.000000000',
       '2011-09-04T00:00:00.000000000', '2011-09-03T00:00:00.000000000',
       '2011-09-02T00:00:00.000000000', '2011-09-01T00:00:00.000000000',
       '2011-08-31T00:00:00.000000000', '2011-08-30T00:00:00.000000000',
       '2011-08-29T00:00:00.000000000', '2011-08-28T00:00:00.000000000',
       '2011-08-27T00:00:00.000000000', '2011-08-26T00:00:00.000000000',
       '2011-08-25T00:00:00.000000000', '2011-08-24T00:00:00.000000000',
       '2011-08-23T00:00:00.000000000', '2011-08-22T00:00:00.000000000',
       '2011-08-21T00:00:00.000000000', '2011-08-20T00:00:00.000000000',
       '2011-08-19T00:00:00.000000000', '2011-08-18T00:00:00.000000000',
       '2011-08-17T00:00:00.000000000', '2011-08-16T00:00:00.000000000',
       '2011-08-15T00:00:00.000000000', '2011-08-14T00:00:00.000000000',
       '2011-08-13T00:00:00.000000000', '2011-08-12T00:00:00.000000000',
       '2011-08-11T00:00:00.000000000', '2011-08-10T00:00:00.000000000',
       '2011-08-09T00:00:00.000000000', '2011-08-08T00:00:00.000000000',
       '2011-08-07T00:00:00.000000000', '2011-08-06T00:00:00.000000000',
       '2011-08-05T00:00:00.000000000', '2011-08-04T00:00:00.000000000',
       '2011-08-03T00:00:00.000000000', '2011-08-02T00:00:00.000000000',
       '2011-08-01T00:00:00.000000000', '2011-07-31T00:00:00.000000000',
       '2011-07-30T00:00:00.000000000', '2011-07-29T00:00:00.000000000',
       '2011-07-28T00:00:00.000000000', '2011-07-27T00:00:00.000000000',
       '2011-07-26T00:00:00.000000000', '2011-07-25T00:00:00.000000000',
       '2011-07-24T00:00:00.000000000', '2011-07-23T00:00:00.000000000',
       '2011-07-22T00:00:00.000000000', '2011-07-21T00:00:00.000000000',
       '2011-07-20T00:00:00.000000000', '2011-07-19T00:00:00.000000000',
       '2011-07-18T00:00:00.000000000', '2011-07-17T00:00:00.000000000',
       '2011-07-16T00:00:00.000000000', '2011-07-15T00:00:00.000000000',
       '2011-07-14T00:00:00.000000000', '2011-07-13T00:00:00.000000000',
       '2011-07-12T00:00:00.000000000', '2011-07-11T00:00:00.000000000',
       '2011-07-10T00:00:00.000000000', '2011-07-09T00:00:00.000000000',
       '2011-07-08T00:00:00.000000000', '2011-07-07T00:00:00.000000000',
       '2011-07-06T00:00:00.000000000', '2011-07-05T00:00:00.000000000',

In [9]:
projects11_12.to_csv('data/projects12_12.csv')

In [10]:
outcomes = pd.read_csv(outcomes_path)

In [11]:
outcomes[:10]

,projectid,is_exciting,at_least_1_teacher_referred_donor,fully_funded,at_least_1_green_donation,great_chat,three_or_more_non_teacher_referred_donors,one_non_teacher_referred_donor_giving_100_plus,donation_from_thoughtful_donor,great_messages_proportion,teacher_referred_count,non_teacher_referred_count
0,ffffc4f85b60efc5b52347df489d0238,f,NaN,f,NaN,f,NaN,NaN,NaN,NaN,NaN,NaN
1,ffffac55ee02a49d1abc87ba6fc61135,f,f,t,t,f,t,f,f,57.0,0.0,7.0
2,ffff97ed93720407d70a2787475932b0,f,f,t,t,t,t,t,f,100.0,0.0,3.0
3,ffff418bb42fad24347527ad96100f81,f,f,f,t,t,f,f,f,100.0,0.0,1.0
4,ffff2d9c769c8fb5335e949c615425eb,t,t,t,t,t,f,t,f,63.0,6.0,2.0
5,fffeebf4827d745aa36b17c2d38d1966,f,f,t,f,f,f,t,f,0.0,0.0,1.0
6,fffee68353ade53e7692b23098096683,f,f,f,f,f,f,f,f,0.0,0.0,2.0
7,fffec078a2249c2365f3086a6eac7e4a,f,f,t,f,f,f,t,f,NaN,0.0,1.0
8,fffeb149cd9b85d802b2500368fd605e,f,f,t,f,f,f,t,f,NaN,0.0,1.0
9,fffeaae9482c9b72cab5bbd3f061d362,f,f,f,f,f,f,f,f,0.0,0.0,1.0

In [14]:
data_set = projects11_12.merge(outcomes, left_on='projectid', right_on='projectid', how='left')

In [15]:
data_set.to_csv('data/data_set.csv')